:root {
    --blanco: #ffffff;
    --oscuro: #484554;
    --primario: #6191e9;
    --secundario: #95548e;
    --gris: #527185;
    --fuentePrincipal: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
  
.back-img {
    background-image: url(images/back.jpg);
    background-size: cover;
    background-position: center;
    height: 19rem;
    background-repeat: no-repeat;
}

header .top-content {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 100%;
    max-height: 45px;
  }

.nav-princ {
    display: flex;
    gap: 20px;
    padding: 5px;
  }
  
.nav-princ a {
    text-decoration: none;
    color: var(--blanco);
  }

.titulo {
    text-align: center;
    font-size: var(--fuentePrincipal); /* 1rem = 16px */
    color: var(--blanco);
}

.info {
    text-align: center;
    font-size: 1.2rem;
    color: var(--blanco);
}

p {
    color: var(--gris);
}

.orden {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    color: var(--blanco);
    padding-top: 1rem;
}

.nombres {
    color: var(--oscuro);
    padding-left: 2.5rem;
}

.to-guille {
    color: var(--gris);
    padding-left: 2.5rem;
}

.to-q {
    color: var(--gris);
    padding-left: 2.5rem;
}

.to-chris {
    color: var(--gris);
    padding-left: 2.5rem;
}

/* Estilos para las imágenes */

.hs {
    border-radius: 8px;
    max-width: 100%;
    max-height: 250px;
}